/* Navbar menu link underline animation */
.menu-link {
  position: relative;
  text-decoration: none;
  color: white;
  margin-left:1rem;
}

.menu-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.menu-link:hover::after {
  width: 100%;
}

